.card-size {
  max-width: 10rem;
  max-height: 10rem;
}

.img-height {
  max-height: 7rem;
  max-width: 6rem;
}

.back {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.hidden {
  display: none;
}
